{% extends 'layout.html' %}
{% block content %}
<h2>SELECT CLASS</h2>

{% if action == 'attendance' %}
    <p><i>Please select a class to mark attendance</i></p>
{% elif action == 'records' %}
    <p><i>Please select a class to view the record</i></p>
{% endif %}
<div class="menu-grid-2">
    {% for cls in classes %}
        {% if action == 'attendance' %}
            <a href="{{ url_for('attendance', cls=cls) }}"><button>{{ cls }}</button></a>
        {% elif action == 'records' %}
            <a href="{{ url_for('records', cls=cls) }}"><button>{{ cls }}</button></a>
        {% elif action == 'remove' %}
            <a href="{{ url_for('remove_student', cls=cls) }}"><button>{{ cls }}</button></a>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
